@mixin menuItem() {
  display: flex;
  &:hover {
    border: 1px solid var(--primary-30);
    color: var(--dark-color);
  }
  > .menu-item {
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 0.25rem;
    width: 100%;
    > span {
      font-size: small;
    }
    &:hover{
      background: var(--primary-50);
      border-radius: 10px;
    }
  }
}

::ng-deep {
  .btn-expanded {
    > .icon {
      color: var(--primary-color);
      border: unset;
      background: unset;
      cursor: pointer;
      padding: 0;
    }
  }
  .menu-content {
    height: 100%;
    box-shadow: 4px 0px 8px -7px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    background-color: var(--surface-0);
    > .menu-content-header {
      padding: 1rem 1.5rem;
      display: flex;
      justify-content: space-between;
      > .logo {
        > img {
          width: 100%;
          height: 24px;
        }
      }
    }

    > .menu-content-body {
      margin-top: 1rem;
      padding: 0 .85rem;
      .p-panelmenu {
        > .p-panelmenu-panel {
          margin-bottom: 0.8rem;
          .p-panelmenu-content {
            @include menuItem();
            .p-menu-item {
              background-color: unset;
            }
          }
          > .p-panelmenu-header {
            > .p-panelmenu-header-content {
              border: unset;
              color: unset;
              background: unset;
              @include menuItem();
            }
          }
          > .p-toggleable-content {
            margin-left: 1rem;
            > .p-panelmenu-content {
              border: unset;
              .p-submenu-list {
                > .p-menuitem {
                  cursor: pointer;
                  > .p-menuitem-content {
                    background-color: unset;
                    @include menuItem();
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
