$menu-width-expanded: 17rem;
$menu-width: 3.85rem;

::ng-deep {
  .app {
    display: flex;
    height: 100%;
    width: 100%;
    .menu-item {
      > span {
        opacity: 1;
        transition: opacity 0.1s ease-out;
      }
    }
    > .menu {
      transition: width 0.5s ease-in-out;
      width: $menu-width-expanded;
      height: 100%;
      background-color: var(--surface-0);
      z-index: 9999;
      &:not(.is-expanded) {
        width: 3.85rem;
        .menu-content {
          > .menu-content-body {
            .p-panelmenu {
              > .p-panelmenu-panel {
                > .p-panelmenu-header {
                  > .p-panelmenu-header-content {
                    > .menu-item {
                      > span {
                        width: 0;
                        opacity: 0;
                      }
                    }
                  }
                }
                > .p-toggleable-content {
                  width: 0;
                  > .p-panelmenu-content {
                    padding: 0;
                  }
                }
              }
            }
          }
        }
      }
      .menu-content {
        > .menu-content-body {
          .p-panelmenu {
            > .p-panelmenu-panel {
              > .p-toggleable-content {
                > .p-panelmenu-content {
                  > .p-element {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
    > .content {
      &:not(:has(> .menu.is-expanded)) {
        width: calc(99.9% - $menu-width);
      }
      > .nav {
        .nav-content {
          > .btn-expanded {
            display: none;
          }
        }
      }
      > .content-body {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem 1.5rem 1.5rem 1.5rem;
        > .content{
          width: 100%;
        }
      }
    }
  }
  @media (max-width: 767.98px) {
    .app {
      > .menu {
        position: fixed;
        left: -4.5rem;
        transition: left 0.5s ease-out;
        &.is-expanded {
          left: 0;
        }
      }
      > .content {
        &:not(:has(> .menu.is-expanded)) {
          width: 100%;
        }
        > .nav {
          .nav-content {
            > .btn-expanded {
              display: block;
            }
          }
        }
      }
    }
  }
}
