$menu-width-expanded: 17rem;
$menu-width: 3.85rem;

::ng-deep {
  .app {
    display: flex;
    height: 100%;
    width: 100%;
    .menu-item {
      > span {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
      }
    }
    > .menu {
      transition: width 0.5s ease-in-out;
      width: $menu-width-expanded;
      height: 100%;
      background-color: var(--primary-10);
      &:not(.is-expanded) {
        width: 3.85rem;
        .menu-content {
          > .menu-content-body {
            .p-panelmenu {
              > .p-panelmenu-panel {
                position: relative;
                > .p-panelmenu-header {
                  > .p-panelmenu-header-content {
                    > .menu-item {
                      > span {
                        width: 0;
                        opacity: 0;
                      }
                    }
                  }
                }
                > .p-toggleable-content {
                  position: absolute;
                  left: 128%;
                  top: 0;
                  > .p-panelmenu-content {
                    padding: 0;
                    // .p-submenu-list {
                    //   > .p-menuitem {
                    //     > .p-menuitem-content {
                    //       > .menu-item {
                    //       }
                    //     }
                    //   }
                    // }
                  }
                }
              }
            }
          }
        }
      }
    }
    > .content {
      // background-color: var(--primary-10);
      &:not(:has(> .menu.is-expanded)) {
        width: calc(99.9% - $menu-width);
      }
    }
  }
  @media (max-width: 767.98px) {
    .app {
      >.menu{
        position: fixed;
      }
    }
  }
}
