::ng-deep {
  .btn-expanded {
    margin-top: auto;
    margin-bottom: auto;
    > .icon {
      color: var(--primary-color);
      border: unset;
      background: unset;
      cursor: pointer;
      padding: 0;
    }
  }

  .nav-content {
    box-shadow: 0px 4px 8px -7px rgba(0, 0, 0, 0.5);
    padding: 0.8rem 1.5rem;
    display: flex;
    background-color: var(--surface-0);
    margin-left: .25rem;
    > .input-search {
      > input {
        border: 1px solid var(--primary-50);
        &:hover {
          border-color: var(--primary-50);
        }
        &:focus {
          border-color: var(--primary-50);
          box-shadow: 0 0 0 0.2rem var(--primary-50);
        }
      }
    }
  }
}
