@import "primeng/resources/primeng.css";
@import 'primeflex/primeflex.scss';
@import "primeicons/primeicons.css";
@import 'primeng/resources/themes/lara-dark-teal/theme.css';
@import './shared/scss/main.scss';
html, body {
  height: 100%; /* Asegura que html y body ocupen todo el alto del viewport */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--surface-ground);
}
